<div class="ui card mb-20 ">
  <div class="content fixHeight">
    <div class="flex-center card-background" [ngStyle]="{'background-color':backgroundColor}">
      <ngx-avatar class="my-avatar" [style]="{
         'box-shadow': '0 0 0 1px rgba(0,0,0,.15)',
          background: color,
          border: '4px solid #fff',
          borderRadius: '50%',
          color: 'white',
          fontWeight: 'bold',
          fontFamily: 'inherit',
          lineHeight: '85px'
        }" [size]="95" initialsSize="1" [textSizeRatio]="2" name="{{data.name}} ">
      </ngx-avatar>
    </div>
    <div class="content-info">
      <div class="header">
        {{data.name | titlecase}}
      </div>
      <div class="meta qualification">
        {{data?.qualification}}
      </div>

      <div class="discover-entity-type-card__bottom-container">
        <div *ngIf="data?.teacherType" class="description">
          {{data?.teacherType}}
        </div>
        <div>
          <div *ngIf="permissionService.permissionAvailable" appPermission [permission]="approveEmployee">
            <div class="ui basic fluid blue button" (click)="onAction(data,{View: true})">
              {{resourceService?.frmelmnts?.btn?.viewProfile}}</div>
          </div>
        </div>
        <div *ngIf="enableViewProfile">
          <div class="ui basic fluid blue button" (click)="onAction(data,{View: true})">
            {{resourceService?.frmelmnts?.btn?.viewProfile}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template let-context let-modal="modal" #modalTemplate>
  <div class="header"> {{resourceService?.frmelmnts?.btn?.approve}}</div>
  <div class="content">
    <p>{{ context.data }}</p>
  </div>
  <div class="actions">
    <button class="ui blue button" (click)="modal.approve('approved')"
      autofocus>{{resourceService?.frmelmnts?.btn?.yes}}</button>
    <button class="ui basic blue button"
      (click)="modal.deny('view')">{{resourceService?.frmelmnts?.btn?.viewProfile}}</button>
  </div>
</ng-template>