# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.project
.classpath
.vscode

/.idea
*.iml
.idea_modules

logs
target

*.launch
# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Properties
config-*.properties
application.properties
application.yml

# Json-LD
schema-configuration.jsonld
schema-configuration-school-test.jsonld
frame.json

# Shex file
validations.shex
validations_create.shex
validations_update.shex

